{% extends 'layouts/default/page.html' %}

{% load i18n %}
{% load static %}
{% block content %}
    <section class="pt-3 pb-4" id="count-stats">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 mx-auto py-3">
            <div class="row">
              <div class="col-md-4 position-relative">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-info"><span id="state1" countTo="600">0</span>+</h1>
                  <h5 class="mt-3">Medication Statements</h5>
                  <p class="text-sm font-weight-normal">Number Of Medication Statement Created.</p>
                </div>
                <hr class="vertical dark">
              </div>
              <div class="col-md-4 position-relative">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-info"> <span id="state2" countTo="150">0</span>+</h1>
                  <h5 class="mt-3">Satisfied Patients</h5>
                  <p class="text-sm font-weight-normal">You can also get all your prescription from the online doctor consultation</p>
                </div>
                <hr class="vertical dark">
              </div>
              <div class="col-md-4">
                <div class="p-3 text-center">
                  <h1 class="text-gradient text-info" id="state3" countTo="20">0</h1>
                  <h5 class="mt-3">Doctor's Registered</h5>
                  <p class="text-sm font-weight-normal">Consult a doctor online on InnoDoctor for any health consent</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="my-5 py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
            <div class="rotating-card-container">
              <div class="card card-rotate card-background card-background-mask-info shadow-primary mt-md-0 mt-5">
                <div class="front front-background" style="background-image: url(https://images.unsplash.com/photo-1569683795645-b62e50fbf103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80); background-size: cover;">
                  <div class="card-body py-7 text-center">
                    <i class="material-icons text-white text-4xl my-3">touch_app</i>
                    <h3 class="text-white">Rate our <br /> Medical facility</h3>
                    <p class="text-white opacity-8">The good physician treats the disease; the great physician treats the patient who has the disease.</p>
                  </div>
                </div>
                <div class="back back-background" style="background-image: url(https://images.unsplash.com/photo-1498889444388-e67ea62c464b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1365&q=80); background-size: cover;">
                  <div class="card-body pt-7 text-center">
                    <h3 class="text-white">Discover Yourself</h3>
                    <p class="text-white opacity-8"> I will follow that system of regimen which, according to my ability and judgment, I consider for the benefit of my patients, and abstain from whatever is deleterious and mischievous.</p>
                    {% comment %} <a href=".//sections/page-sections/hero-sections.html" target="_blank" class="btn btn-white btn-sm w-50 mx-auto mt-3">Start with Headers</a> {% endcomment %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 ms-auto">
            <div class="row justify-content-start">
              <div class="col-md-6">
                <div class="info">
                  <i class="material-icons text-gradient text-info text-3xl">content_copy</i>
                  <h5 class="font-weight-bolder mt-3">100% confedential </h5>
                  <p class="pe-5">All advice & consultations are completely confidential. You can also delete chats whenever you want.</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info">
                  <i class="fas fa-user-md text-gradient text-info text-3xl"></i>
                  {% comment %} <i class="material-icons text-gradient text-info text-3xl">flip_to_front</i> {% endcomment %}
                  <h5 class="font-weight-bolder mt-3">Certified Doctors</h5>
                  <p class="pe-3">We offer quality healthcare through our network of certified and experienced doctors.</p>
                </div>
              </div>
            </div>
            <div class="row justify-content-start mt-5">
              <div class="col-md-6 mt-3">
                <i class="material-icons text-gradient text-info text-3xl">price_change</i>
                <h5 class="font-weight-bolder mt-3">Save Time & Money</h5>
                <p class="pe-5">Seek expert opinion anytime, anywhere provide medical assistance queries for free.</p>
              </div>
              <div class="col-md-6 mt-3">
                <div class="info">
                  <i class="material-icons text-gradient text-info text-3xl">devices</i>
                  <h5 class="font-weight-bolder mt-3">24*7 instant facility</h5>
                  <p class="pe-3">Consult a doctor anywhere and anytime.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

     <section class="py-sm-7" id="download-soft-ui">
      <div class="bg-gradient-dark position-relative m-3 border-radius-xl overflow-hidden">
        <img src="{% static 'img/shapes/waves-white.svg' %}" alt="pattern-lines" class="position-absolute start-0 top-md-0 w-100 opacity-2">
        <div class="container py-7 postion-relative z-index-2 position-relative">
          <div class="row">
            <div class="col-md-7 mx-auto text-center">
              <h3 class="text-white mb-0">Do as much as possible for the patient, and as little as possible to the patient.</h3>
              {% comment %} <h3 class="text-white">UI Kit for Bootstrap 5?</h3> {% endcomment %}
              <p class="text-white mb-5">If you have health, you probably will be happy, and if you have health and happiness, you have the wealth you need, even if it is not all you want.</p>
              {% comment %} <a href="https://www.creative-tim.com/product/material-kit" class="btn btn-info btn-lg mb-3 mb-sm-0">Download HTML</a> {% endcomment %}
            </div>
          </div>
        </div>
      </div>

    </section> 

    <!-- -------   START PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->
    <div class="py-5 text-center">
      <div class="container">
        <div class="container-fluid">
            <h4 class="mb-1">Thank you for your support!</h4>
            <p class="lead mb-0">We provide the best medical facility</p>
        </div>
      </div>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    if (document.getElementById('state1')) {
      const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
      if (!countUp.error) {
        countUp.start();
      } else {
        console.error(countUp.error);
      }
    }
    if (document.getElementById('state2')) {
      const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
      if (!countUp1.error) {
        countUp1.start();
      } else {
        console.error(countUp1.error);
      }
    }
    if (document.getElementById('state3')) {
      const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
      if (!countUp2.error) {
        countUp2.start();
      } else {
        console.error(countUp2.error);
      };
    }
  </script>
{% endblock %}