{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<div class="container" style="width:50%; padding-top: 10px; border-radius: 25px; border: 2px solid black; ">


    <h4 style="text-align: center;">{% trans 'Log in' %}</h4>

    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-primary">{% trans 'Log in' %}</button>

    </form>

    <hr>

   
          {% comment %} <button class="btn btn-primary my-1 small text-muted">  <a href="{% url 'accounts:restore_password' %}" style="color: white">{% trans 'Forgot your password?' %}</a></button> <br/>
       
            <button class="btn btn-primary"><a href="{% url 'accounts:remind_username' %}" style="color: white">{% trans 'Forgot your username?' %}</a></button><br/>
       
            <button class="btn btn-primary my-1 mb-3"> <a href="{% url 'accounts:resend_activation_code' %}" style="color: white">{% trans 'Resend activation code' %}</a></button> {% endcomment %}
            <a class="text-muted" href="{% url 'accounts:restore_password' %}"> {% trans 'Forgot your password?' %}</a><br/>
            <a class="text-muted" href="{% url 'accounts:remind_username' %}"> {% trans 'Forgot your username?' %}</a><br/>
            <a class="text-muted" href="{% url 'accounts:resend_activation_code' %}"> {% trans 'Resend activation code' %}</a><br/>
</div>    
{% endblock %}
