{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<div class="container" style="width:50%; padding-top: 10px; border-radius: 25px; border: 2px solid black; ">



    <h4 style="text-align: center;">{% trans 'Restore password' %}</h4>

    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <button class="btn btn-primary">{% trans 'Next' %}</button>

    </form>

    <hr>

    
    <button class="btn btn-success my-1 mb-3">   <a href="{% url 'accounts:log_in' %}">{% trans 'Log in' %}</a> </button>
    

</div>

{% endblock %}
