<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Page Title</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>

    <div class="container">
        <form class="m-3 p-3">
            <div class="form-group">
              <label for="name">Name</label>
              <input class="form-control" id="name" placeholder="Name" required>
            </div>
            <div class="form-group">
              <label for="form">Form</label>
              <input id="form" class="form-control" placeholder="e.g. Tablet, Capsule" required>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category">
                  <option>Ad-hoc mixture</option>
                  <option>Ingredient</option>
                  <option>Multi-ingredient Product</option>
                  <option>Single-ingredient Product</option>
                  <option>Combination Product</option>
                </select>
            </div>
            <div class="form-group">
                <label for="uop">Unit of Presentation</label>
                <input id="uop" class="form-control" placeholder="e.g. Puff, Inhalation, Capsule" required>
            </div>
            <div class="form-group">
                <label for="batch">Batch ID</label>
                <input class="form-control" id="batch" placeholder="Batch ID" required>
            </div>
            <div class="form-group">
                <label for="exp">Expiry</label>
                <input type="date" class="form-control" id="exp">
            </div>
            <div class="form-group">
                <label for="damount">Dose Amount</label>
                <input class="form-control" id="damount" placeholder="e.g. 1.5, 2, 20" required>
            </div>
            <div class="form-group">
                <label for="dduration">Dose Duration</label>
                <input class="form-control" id="dduration">
            </div>
            <div class="form-group">
                <label for="dunit">Dose Unit</label>
                <input class="form-control" id="dunit" placeholder="e.g. ml, mg or tablet">
            </div>
            <div class="form-group">
                <label for="dfrequency">Dose Frequency</label>
                <input class="form-control" id="dfrequency" placeholder="e.g. 2 times a day">
            </div>
            <div class="form-group">
                <label for="dinterval">Dose Interval</label>
                <input class="form-control" id="dinterval" placeholder="e.g. every 6 hours">
            </div>
            <div class="form-group">
                <label for="dst">Dose Specific Timings</label>
                <input type="time" class="form-control" id="dst">
            </div>
            <div class="form-group">
                <label for="route">Route</label>
                <input class="form-control" id="route" placeholder="e.g. oral" required>
            </div>
            <div class="form-group">
                <label for="bs">Body Site</label>
                <input class="form-control" id="bs" placeholder="e.g. stomach, uppar left arm" required>
            </div>
            {% comment %} <button type="submit" class="m-2 btn btn-primary">Submit</button> {% endcomment %}
          </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>