{% extends 'layouts/default/page.html' %}
{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}

<div class="container">
<form method = "post">
    {% csrf_token %}
    <div class="input-group input-group-outline my-3">
        <label class="form-label-inline w-30">Aadhar Number:</label>
        {% render_field form.aadhaarId class="form-control" type="number" pattern=".{12}" %}
    </div>
    <div class="input-group input-group-outline my-3">
        <label class="form-label-inline w-30">Patient Name:</label>
        {% render_field form.name class="form-control" type="text" %}
    </div>
    <div class="input-group input-group-outline my-3">
        <label class="form-label-inline w-30">Gender:</label>
        {% render_field form.gender class="form-control" %}
    </div>
    <div class="input-group input-group-outline my-3">
        <label class="form-label-inline w-30">Date of Birth:</label>
        {% render_field form.date_of_birth class="form-control" type="date" %}
    </div>
    <div class="text-center">
        <button type="submit" value="save" class="btn bg-gradient-info w-40 my-4 mb-2 mx-1">Add</button>
        <a class="btn bg-gradient-danger w-40 my-4 mb-2 mx-1" href="{% url 'patient_records:patient_check' %}">Cancel</a>
    </div>
</form>

</div>

<!--<div class="container" style="width:50%; padding-top: 10px; border-radius: 25px; border: 2px solid black; margin-bottom:5%;  ">-->

<!--<div class="card-body">-->
<!--    <h3 style="text-align: center;">Add Patient</h3>-->
<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        {% bootstrap_form form %}-->
<!--        <button type="submit" class="btn btn-success" value="save" style="margin-left: 33%;">Add</button>-->
<!--        <a type="button" class="btn btn-danger" href="/" style="margin-left: 3%;">Cancel</a>-->
<!--        -->
<!--    </form>-->
<!--</div>-->

<!--</div>-->
{% endblock %}