{% extends 'layouts/default/page.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}patient-list{% endblock title %}
{% block content %}
<div class="card-body">
    <a type="button" class="btn btn-success" href="/patient_records/patient-check">Back</a>
    <tr> <h4 class="d-inline">Patient Information </h4> 
    <hr>
    {% comment %} <a  href="/patient_records/patient-eprescription/{{patient}}"> e-prescription</a> {% endcomment %}
    {% comment %} <form action='patient-eprescription/' method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <input type ='hidden' value= {{Patient.aadhaarId}} name= 'aadhaarId'
        <input type='submit' value= "eprescirption"> 
    </form> {% endcomment %}

    
   
    {% comment %} <a type="button" class="btn btn-warning" href="/patient_records/patient-vital-sign/{{ patient.aadhaarId }}">Add Problem List</a>
    <a type="button" class="btn btn-warning" href="/patient_records/patient-eprescription/{{ patient.aadhaarId }}">Add Problem List</a>
    <a type="button" class="btn btn-warning" href="/patient_records/patient-eprescription/{{ patient.aadhaarId }}">Add Problem List</a> {% endcomment %}
    {% comment %} <a  href="{% url 'eprescription' aadharId=Patient.aadhaarId %}" > e-prescription</a> {% endcomment %}
    <div class="row container">
    <div class=" col container-fluid d-d-inline-block">
    <table class="table text-justify-content-center table table-striped table-responsive">
        <tbody>
            <tr>
                <td scope="col">Patient Name</td>
                <td>{{ patient.name }}</td>
            </tr>
             <tr>
                <td scope="col">Aadhaar Id</td>
                <td>{{ patient.aadhaarId }}</td>
             </tr>
            <tr>
                <td scope="col">Date Of Birtd</td>
                <td>{{ patient.date_of_birth }}</td>
            </tr>
            <tr>
                <td scope="col">Gender</td>
                <td>{{ patient.gender }}</td>
            </tr>
            <tr>
                <td colspan=2><a type="button" class="btn btn-warning" href="/patient_records/patient-update/{{ patient.aadhaarId }}">Update Patient Details</a></td>
            </tr>
        </tbody>
    </table>
</div>


    <div class="col container-fluid d-inline-block">
    <table class="table text-justify-content-around table table-striped table-responsive fixed-table-body">
        <tbody>
            <tr>

                <td scope="col" colspan=2><a type="button" class="btn btn-warning" href="/patient_records/patient-medication-statement/{{ patient.aadhaarId }}">Add new Medication Staement For Patient</a></td>
            </tr>
            <tr>
                <td scope="col"><a type="button" class="btn btn-warning" href="/patient_records/patient-eprescription/{{ patient.aadhaarId }}">Check E-prescription</a></td>
                <td scope="col"><a type="button" class="btn btn-warning" href="/patient_records/patient-eprescription-create/{{ patient.aadhaarId }}">Add  E-prescription in Existing medical statement </a></td>
            </tr>
             <tr>

                <td> <a type="button" class="btn btn-warning" href="/patient_records/patient-problem-list-view/{{ patient.aadhaarId }}">check Problem List</a></td>
                <td> <a type="button" class="btn btn-warning" href="/patient_records/patient-problem-list-create/{{ patient.aadhaarId }}">Add Problem List</a></td>
             </tr>
          
             <tr>
                <td> <a type="button" class="btn btn-warning" href="/patient_records/patient-vital-sign-view/{{ patient.aadhaarId }}">Check Vital Signs</a></td>
                <td> <a type="button" class="btn btn-warning" href="/patient_records/patient-vital-sign-create/{{ patient.aadhaarId }}">Add Vital SIgns</a></td>
             </tr>
          
             <tr>

                <td> <a type="button" class="btn btn-warning" href="/patient_records/patient-social-history-view/{{ patient.aadhaarId }}">Check Social  History</a></td>
                <td> <a type="button" class="btn btn-warning" href="/patient_records/patient-social-history-create/{{ patient.aadhaarId }}">Add Social History</a></td>
             </tr>
          
        
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}