{% extends 'layouts/default/page.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}problem-list-view{% endblock title %}
{% block content %}

<div class="container mt-4">
    <h3 class="text-center mb-4">Past History of Illnesses</h3>
    <div class="col-md-12 search-table-col m-4">
        <div class="table-responsive table table-hover table-bordered results">
            <table class="table table-hover table-bordered">
                <thead class="bill-header cs">
                    <tr>
                        <th id="trs-hd-2" class="col-lg-2 text-center">Problem</th>
                        <th id="trs-hd-3" class="col-lg-2 text-center">Body Site</th>
                        <th id="trs-hd-1" class="col-lg-2 text-center">Severity</th>
                        <th id="trs-hd-4" class="col-lg-1 text-center">Onset Date</th>
                        <th id="trs-hd-5" class="col-lg-1 text-center">Abatement Date</th>
                        <th id="trs-hd-6" class="col-lg-1 text-center">Dignostic Certainity</th>
                    </tr>
                </thead>
                <tbody>
                    </tr>
                        {% for item in problemLists %}
                            <tr>
                                <td class="text-center">{{ item.problem }}</td>
                                <td class="text-center">{{ item.body_site }}</td>
                                <td class="text-center">{{ item.severity }}</td>
                                <td class="text-center">{{ item.onset_date }}</td>
                                <td class="text-center">{{ item.abatement_date }}</td>
                                <td class="text-center">{{ item.diagnostic_certainty }}</td>
                            </tr>
                        {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--<div class="container" style="width: 65%; text-align: center;">-->
<!--     <a type="button" class="btn btn-danger" href="/patient_records/patient-detail/{{patient.aadhaarId}}">🔙</a><h2 class="d-inline align-top">Patient Problem List View </h2> -->
<!-- <br></br>-->
<!-- <div >-->
<!--     <div class= "text-*-center small"  >-->
<!--         <div class="container-fluid">-->
<!--             <table class="table table-striped table-responsive fixed-table-body">-->
<!--                 <thead class="center-block">-->
<!--                     <tr>-->
<!--                         <th scope="col">Problem</th>-->
<!--                         <th scope="col">Body Site</th>-->
<!--                         <th scope="col">severity</th>-->
<!--                         <th scope="col">Onset date</th>-->
<!--                         <th scope="col">Abatement date</th>-->
<!--                         <th scope="col">Diagnostic certainty</th>-->
<!--                        </tr>-->
<!--                    </thead>-->
<!--                    <tbody>-->
<!--                        {% for item in problemLists %}-->
<!--                                <h1>{{item.item_set.all}}</h1>-->
<!--                                  <tr>-->
<!--                                        <td scope="row">{{item.problem}}</td>-->
<!--                                        <td scope="row">{{item.body_site}}</td>-->
<!--                                        <td scope="row">{{item.severity}}</td>-->
<!--                                        <td scope="row">{{item.onset_date}}</td>-->
<!--                                        <td scope="row">{{item.abatement_date}}</td>-->
<!--                                        <td scope="row">{{item.diagnostic_certainty}}</td>-->
<!--                                  </tr>-->

<!--                        {% endfor %}-->

<!--                                </tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                </div>-->
<!--        </div>-->
<!--        -->
<!--</div>-->
{% endblock %}