{% load static %}
{% load bootstrap4 %}
{% load i18n %}
<!doctype html>
<html lang="en">

    <head>
        <title>Pescriptions</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <style>
            body {
                background-color: whitesmoke;
            }

            @page {
                size: letter landscape;
                margin: 1cm;
            }

            td {
                padding-left: .5em;
            }

            #heading {
                background-color: whitesmoke
            }
        </style>
    </head>

    <body>
        <div class="container-fluid" style="text-align: center;">
            <h1><kbd class="small"> Inno Doctor</kbd>::E-prescription </h1>
            patient id : {{ aadhaarId }}
        </div>


        <div class="my-2">
            {% for items in medicationItems%}
            {% if items %}
            <p> Medication_statement_id : {{items.0.medication_statement.id}} &nbsp; &nbsp; &nbsp;description:
                {{items.0.medication_statement.description}}
            </p>
            <div class="text-*-center small">
                <div class="container-fluid">
                    <table class="table table-striped table-responsive fixed-table-body">
                        <thead class="thead-dark center-block">
                            <tr id="heading">
                                <th scope="col">medication item</th>
                                <th scope="col">Name</th>
                                <th scope="col">Form</th>
                                <th scope="col">category</th>
                                <th scope="col">unit of presecription</th>
                                <th scope="col">batch id</th>
                                <th scope="col">expiry</th>
                                <th scope="col">dose amount</th>
                                <th scope="col">dose duration</th>
                                <th scope="col">dose unit</th>
                                <th scope="col">dose frequency</th>
                                <th scope="col">dose interval</th>
                                <th scope="col">dose specific_timig</th>
                                <th scope="col">route</th>
                                <th scope="col">body site</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td scope="row">{{item.medication_item}}</td>
                                <td scope="row">{{item.name}}</td>
                                <td scope="row">{{item.form}}</td>
                                <td scope="row">{{item.category}}</td>
                                <td scope="row">{{item.unit_of_prescription}}</td>
                                <td scope="row">{{item.batch_id}}</td>
                                <td scope="row">{{item.expiry}}</td>
                                <td scope="row">{{item.dose_amount}}</td>
                                <td scope="row">{{item.dose_duration}}</td>
                                <td scope="row">{{item.dose_unit}}</td>
                                <td scope="row">{{item.dose_frequency}}</td>
                                <td scope="row">{{item.dose_interval}}</td>
                                <td scope="row">{{item.dose_specific_timing}}</td>
                                <td scope="row">{{item.route}}</td>
                                <td scope="row">{{item.body_site}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <br><br>
            {% endif %}
            {% endfor %}
        </div>


        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </body>

</html>