{% extends 'layouts/default/page.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %}vital-sign{% endblock title %}
{% block content %}
<div class="container" style="width:50%;  margin-bottom:5%;  ">


<div class="card-body">
    <h5>Add vital signs</h5>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <a type="button" class="btn btn-danger" href="/">Cancel</a>
        <button type="submit" class="btn btn-success" value="save">Add</button>
    </form>
</div>
</div>
{% endblock %}